{% extends 'base.html.twig' %}

{% block title %}Pagina personală{% endblock %}

{% block body %}
    <h1>{{ content.titlu }}</h1>
    <p><strong>Descriere:</strong> {{ content.descriere }}</p>
    <p><strong>Hobbyuri:</strong> {{ content.hobbyuri }}</p>
    <p><strong>Educație:</strong> {{ content.educatie }}</p>
    <p><strong>Experiență:</strong> {{ content.experienta }}</p>

    <a href="{{ path('petrutiu_login') }}">Login pentru editare</a>
{% endblock %}
